html, body {
    margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	font-weight:normal;
	line-height:1;
    height: 100%;
	vertical-align:baseline;
	background: #FEF1E9;
}

h1 {
	font-family: Asap, Helvetica, Arial, sans-serif;
    font-size: 35px;
    color: #032c5a;
    font-style: normal;
}
p {
	font-family: Asap, Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #808080;
    vertical-align: baseline;
}
.logo {
    margin: 0 10%;
    position: relative;
    float: left;
    width: 300px;
}

#header {
    background: #808080;
    height: 100px;
}

header#branding {
    color: #fff;
    margin: 0 auto;
    position: relative;
}

header#branding hgroup {
    padding-top: 15px;
}

header#branding hgroup #site-title {
    margin: 0;
}

header#branding hgroup #site-title a {
    display: block;
    background: url("../images/logo.png") no-repeat;
    height: 60px;
    text-indent: -999999px;
}

header#branding hgroup #site-description {
    font-family: helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 12px;
    letter-spacing: 2px;
    margin-left: 80px;
    color: #fff;
    margin-top: -10px;
    font-style: normal;
}

#main {
    padding: 50px;
	display: block;
}

#main_table {
    display: table;
    margin: 0 auto;
}

#main .left_column {
    width: 500px;
    float: left;
}
#main .right_column {
    width: 400px;
    float: right;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}


#main .cclinks_container
{
	position:relative;
	left:-2px;
	width:500px;
	height:500px
}
#main .cclinks_container .icon
{
	margin:-20px 0 0 -20px;
	position:absolute
}
#main .cclinks_container .icon img
{
	position:relative;
	z-index:2;
	-webkit-transform:scale(0.77, 0.77);
	-moz-transform:scale(0.77, 0.77);
	-ms-transform:scale(0.77, 0.77);
	-o-transform:scale(0.77, 0.77);
	transform:scale(0.77, 0.77);
	-webkit-transition:scale, 0.1s, ease-out;
	-moz-transition:scale, 0.1s, ease-out;
	-o-transition:scale, 0.1s, ease-out;
	transition:scale, 0.1s, ease-out;
	-webkit-backface-visibility:hidden
}
#main .cclinks_container .icon img:hover
{
	-webkit-transform:scale(1, 1);
	-moz-transform:scale(1, 1);
	-ms-transform:scale(1, 1);
	-o-transform:scale(1, 1);
	transform:scale(1, 1);
}


#main .cclinks_container .icon_recording
{
	top:0;
	left:206px
}
#main .cclinks_container .icon_agent
{
	top:23px;
	left:313px
}
#main .cclinks_container .icon_ccmanager
{
	width:120px;
	top:107px;
	left:372px;
}
#main .cclinks_container .icon_pratix
{
	top:204px;
	left:412px
}
#main .cclinks_container .icon_configuration
{
	top:204px;
	left:0
}
#main .cclinks_container .icon_spagobi
{
	top:100px;
	left:26px
}
#main .cclinks_container .icon_kibana
{
	top:23px;
	left:102px
}
#main .cclinks_container .xivo_cc_logo
{
	margin:180px 0 0 120px;
	width:260px;
}

.tooltip{
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: -26px;
    color: #fff;
    content: attr(data-tooltip);
    left: -10%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 122px;
	font-family: Asap, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    text-align: center;
}

.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 0 6px 6px 6px;
    bottom: -1px;
    content: "";
    left: 45%;
    position: absolute;
    z-index: 99;
}
